@import url('https://fonts.googleapis.com/css?family=Pacifico');

$font: 'Pacifico', cursive;
$h1-color: #072a16;
$h2-color: #2d6b22;
$a-color: #8ab446;
$background: #ece5d5;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $font;
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
h1 {
    color:$h1-color;
    text-transform: uppercase;
}
main{
    display: flex;
    justify-content: space-around;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    h2 {
        color: $h2-color;
        display: inline-block;
        margin-bottom: 20px;
    }
    img {
        width: 50%;
        transition: all 2s ease-out;
    }
    img:hover{
        transform: scale(1.1);
    }
    a{
        color: $a-color;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
}
